<a href="https://colab.research.google.com/github/georgeloizouu/GeorgeLoizou.github.io/blob/main/BTCvsETHdatacleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Crypto data cleaning

In [1]:
import requests, pandas as pd

In [3]:
df=pd.read_csv('CoronavirusProjectData.csv')

In [4]:
df

           date       area  totalcases    MHI    MCI  btc_price eth_price
0    12/12/2021  Worldwide   269195299  13.50  57.40  49,225.00  4,041.61
1    11/12/2021  Worldwide   269195299  15.50  59.39  49,314.50  4,075.66
2    10/12/2021  Worldwide   269195299  16.26  60.51  47,137.20  3,903.48
3    09/12/2021  Worldwide   268558266  16.57  61.48  47,596.60  4,107.69
4    08/12/2021  Worldwide   267834341  15.52  59.42  50,473.90  4,435.74
..          ...        ...         ...    ...    ...        ...       ...
707  05/01/2020  Worldwide           0   0.02   0.67   7,372.50    135.59
708  04/01/2020  Worldwide           0   0.03   1.07   7,376.80    134.33
709  03/01/2020  Worldwide           0   0.00   0.20   7,343.10    134.27
710  02/01/2020  Worldwide           0   0.01   0.30   6,967.00    127.19
711  01/01/2020  Worldwide           0   0.00   0.09   7,199.80    130.75

[712 rows x 7 columns]

The commas need to be removed from the cryptocurrency prices in order to be properly used in Vega and/or Seaborn regressions.

In [5]:

df['eth_price'].str.replace(',','')

0      4041.61
1      4075.66
2      3903.48
3      4107.69
4      4435.74
        ...
707     135.59
708     134.33
709     134.27
710     127.19
711     130.75
Name: eth_price, Length: 712, dtype: object

In [6]:
df['btc_price'].str.replace(',','')

0      49225.00
1      49314.50
2      47137.20
3      47596.60
4      50473.90
         ...
707     7372.50
708     7376.80
709     7343.10
710     6967.00
711     7199.80
Name: btc_price, Length: 712, dtype: object

In [ ]:
df

           date       area  totalcases    MHI    MCI btc_price eth_price
0    12/12/2021  Worldwide   269195299  13.50  57.40  49225.00  4,041.61
1    11/12/2021  Worldwide   269195299  15.50  59.39  49314.50  4,075.66
2    10/12/2021  Worldwide   269195299  16.26  60.51  47137.20  3,903.48
3    09/12/2021  Worldwide   268558266  16.57  61.48  47596.60  4,107.69
4    08/12/2021  Worldwide   267834341  15.52  59.42  50473.90  4,435.74
..          ...        ...         ...    ...    ...       ...       ...
707  05/01/2020  Worldwide           0   0.02   0.67   7372.50    135.59
708  04/01/2020  Worldwide           0   0.03   1.07   7376.80    134.33
709  03/01/2020  Worldwide           0   0.00   0.20   7343.10    134.27
710  02/01/2020  Worldwide           0   0.01   0.30   6967.00    127.19
711  01/01/2020  Worldwide           0   0.00   0.09   7199.80    130.75

[712 rows x 7 columns]

In [8]:
df['eth_price']=df['eth_price'].str.replace(',','')
df['btc_price']=df['btc_price'].str.replace(',','')

In [ ]:
df

           date       area  totalcases    MHI    MCI btc_price eth_price
0    12/12/2021  Worldwide   269195299  13.50  57.40  49225.00   4041.61
1    11/12/2021  Worldwide   269195299  15.50  59.39  49314.50   4075.66
2    10/12/2021  Worldwide   269195299  16.26  60.51  47137.20   3903.48
3    09/12/2021  Worldwide   268558266  16.57  61.48  47596.60   4107.69
4    08/12/2021  Worldwide   267834341  15.52  59.42  50473.90   4435.74
..          ...        ...         ...    ...    ...       ...       ...
707  05/01/2020  Worldwide           0   0.02   0.67   7372.50    135.59
708  04/01/2020  Worldwide           0   0.03   1.07   7376.80    134.33
709  03/01/2020  Worldwide           0   0.00   0.20   7343.10    134.27
710  02/01/2020  Worldwide           0   0.01   0.30   6967.00    127.19
711  01/01/2020  Worldwide           0   0.00   0.09   7199.80    130.75

[712 rows x 7 columns]

In [ ]:
df.to_csv('myregressiondata.csv')